@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  display: flex;
}

.cube {
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: right;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg);
}
.cube.starting {
  transform: rotateY(90deg);
}
.cube.starting .front {
  pointer-events: none;
  transform: rotateY(0deg);
  transition: all 0.5s ease-in-out;
}
.cube.starting .front > .container {
  box-shadow: none;
}
.cube.starting .top {
  transform: rotateY(-90deg) translate3d(-18.7em, 0, 0);
}

.startButton {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 64px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 64px;
  font-size: 16pt;
  font-weight: 700;
  color: #fff;
  box-shadow: inset 0 0 0 3px rgb(50, 50, 50);
  transition: all 0.5s ease;
}
.startButton:hover {
  cursor: pointer;
  -webkit-animation-name: pulse-grow-on-hover;
  animation-name: pulse-grow-on-hover;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.startButton#stopButton {
  color: rgb(50, 50, 50);
}
.startButton#stopButton:hover {
  -webkit-animation: none;
          animation: none;
}

.top {
  transform: rotateY(90deg) translate3d(18.7em, 0, 0em);
  position: absolute;
  width: 100%;
  height: 100%;
}

.front {
  transform: translate3d(-18.7em, 0, 0);
  transition: all 0.5s ease-in-out;
  left: 18.7em;
  position: relative;
}

@-webkit-keyframes pulse-grow-on-hover {
  to {
    transform: scale(1.1);
  }
}
@keyframes pulse-grow-on-hover {
  to {
    transform: scale(1.1);
  }
}
input#userName:focus-visible {
  border-bottom: 2px solid rgb(50, 50, 50);
  outline: none;
}

.animationContainer,
#headline {
  transform: translate(-100vw, 0);
}

.background-animate {
  display: flex;
  background-size: 200%;
  -webkit-animation: bgGradient 5s ease infinite;
  animation: bgGradient 5s ease infinite;
}

@-webkit-keyframes bgGradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes bgGradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
#scoreboard {
  max-height: calc(100% - 55px);
}
#scoreboard > div {
  padding: 5px;
}
#scoreboard .scoreboard-row > div.text-left,
#scoreboard .scoreboard-row > div.text-right {
  width: 20%;
}
#scoreboard .scoreboard-row > div.text-center {
  width: 60%;
}

.container {
  max-height: 385px;
}

@media (max-width: 767px) {
  .cube.starting .top {
    transform: rotateY(-90deg) translate3d(-50%, 0, 0);
  }
  #headline,
#timerContainer {
    font-size: 10vw;
  }
  #headline .timer > span,
#timerContainer .timer > span {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */